@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

[data-bs-theme="dark"] {
  color-scheme: dark;
}

[data-bs-theme="dark"] .table-secondary {
  --bs-table-bg: #2b3035;
  --bs-table-color: #adb5bd;
}